PORT=3000

DB_HOST=localhost
DB_PORT=5432
DB_NAME=proj_estoque
DB_USER=postgres
DB_PASSWORD=postgres

JWT_SECRET=key-JWT #pode ser qualquer coisa, dps vamos gerar uma hash para isso
JWT_EXPIRES_IN=1d
BCRYPT_SALT_ROUNDS=10
